html {
	font-family: 'Recursive', sans-serif;
	background: url("https://raw.githubusercontent.com/DrantDumani/Daily-Web-Projects-2020/master/Proj1_Tribute_Page/assets/background.jpg") no-repeat center center fixed;
	background-size: cover;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#page-content {
	margin-top: 0.75em;
  margin-bottom: 0.75em;
	display: flex;
	flex-direction: column;
	background-color: #fefe9e;
	width: 85%;
	border: 8px solid #c8c888;
	border-radius: 3em;
}

@media (min-width: 1200px) {
	#page-content {
    width: 60%;
		flex-direction: row;
	}
}

#img-div {
  flex: 1 1 0px;
}

#image {
  display: block;
  margin: auto;
}

#image, #img-caption {
	text-align: center;
}

#image {
  max-width: 100%;
  height: auto;
}

#main {
  flex: 1 1 0px;
	padding: 0 0.95em;
}

#quote {
	font-style: italic;
  font-weight: bold;
}

p {
  font-size: 1.13rem;
	line-height: 1.6em;
}

#tribute-link:hover {
	animation-name: glow;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

@keyframes glow {
	100% {
		color: #8da7ff;
	}
}