html {
	background: url("https://raw.githubusercontent.com/DrantDumani/Daily-Web-Projects-2020/master/Proj2_Survey_Form/assets/band_bg.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	color: #fff;
}

body {
	margin: 0;
	background-color: rgba(24,24,24, 0.9);
}

#title, #description {
	text-align: center;
	margin: 0;
	padding: 2.5% 5%;
}

@media (min-width: 1200px) {
	#title, #description {
		padding: 0.75% 5%;
	}
}

#title {
	padding-top: 1.8em;
}

#description {
	margin-top: -0.5em;
	font-size: 1.2em;
}

.first {
	padding-top: 2.5em;
}

@media (min-width: 1200px) {
	.first {
		padding-top: 0.75em;
	}
}

label, span {
	padding-bottom: 0.4em;
}

div > label, div > span {
	font-weight: bold;
  font-size: 1.2rem;
}

#survey-form {
	display: flex;
	flex-direction: column;
}

@media (min-width: 1200px) {
	#survey-form {
		margin: 0 auto;
		width: 50%;
	}
}

.radio-chmrk {
	padding: 0;
	margin-top: -0.0005em;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

[type="radio"], [type="checkbox"] {
	margin: 0 0 0.8em 0;
}

.survey-item {
	display: flex;
	flex-direction: column;
	padding: 4.5% 5%;
}

@media (min-width: 1200px) {
	.survey-item {
		padding: 2.5% 3%;
	}
}

#textbox {
	height: 9em;
	font-size: 1.2em;
}

#submit {
	margin: 4.5% 5% 15% 5%;
	height: 1.4em;
	color: #fff;
	background-color: #00bbbe;
	border: none;
	border-radius: 1.5%;
	font-size: 1.4em;
}

@media (min-width: 1200px) {
	#submit {
		margin: 4.5% 3% 15% 3%;
	}
}

#submit:hover {
	background-color: #00f3f7;
}