body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #01000c;
}

#navbar {
  position: fixed;
  height: 65px;
  width: 100%;
  background-color: inherit;
  border-bottom: 1.5px solid #01000c;
  box-sizing: border-box;
}

#menu-toggle {
  display: none;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

header {
  font-family: 'Noto Serif', serif;
  font-weight: 900;
}

h2 {
  margin: 10px 0;
}

.doc-topic {
  align-self: center;
}

#light-toggle {
  color: #fff;
  background-color: #01000c;
  height: 35px;
  border: 0.2px solid black;
  border-radius: 10%;
}

#light-toggle:hover {
  color: #01000c;
  background-color: #fff;
}

.hamburger-icon {
  display: block;
  margin: 5px;
  border-radius: 4px;
  background-color: #01000c;
  width: 35px;
  height: 5px;
  transition: 0.3s;
}

#menu-toggle:checked ~ .header-flex > #hamburger-group > .hamburger-icon:nth-child(1) {
  transform: rotate(45deg) translate(2px, 12px);
}

#menu-toggle:checked ~ .header-flex > #hamburger-group > .hamburger-icon:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked ~ .header-flex > #hamburger-group > .hamburger-icon:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -12px);
}

.nav-menu {
  list-style-type: none;
  background-color: inherit;
  border-right: 1.5px solid #01000c;
  width: 65%;
  height: 100vh;
  margin-top: 0;
  padding: 8px 0 0px 9%;
  font-weight: bold;
  font-size: 1.2em;
  position: relative;
  left: -100%;
  overflow-y: auto;
  transition: left 0.3s ease-in;
}

#menu-toggle:checked ~ .nav-menu {
  left: 0%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-menu > li {
  margin: 1em 0;
}

.nav-menu > li:last-child {
  margin-bottom: 25vmin;
}

#main-doc {
  padding: 65px 4.5% 65px 4.5%;
}

.main-section {
  padding: 1.5vh 0;
}

p {
  line-height: 1.5em;
  margin-bottom: 10px;
}

p, span {
    font-size: 1.15em;
}

pre {
  border: none !important;
  overflow: hidden;
}

code {
  font-family: 'Courier Prime', monospace;
  display: block;
  background-color: rgba(230,230,230, 0.8);
  padding: 12px;
  border-radius: 0.5em;
  overflow-x: auto;
}

.ref-link {
  color: #1f8071;
}

@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
  }

  .hamburger-icon {
    display: none;
  }

  #navbar {
    position: static;
    border-right: 1.5px solid #01000c;
  }

  .nav-menu {
    position: static;
    width: auto;
    margin: 0;
  }

.nav-link:last-child > li {
  margin-bottom: 0.80em;
  }

  #main-doc, #navbar, .nav-menu {
    box-sizing: border-box;
  }

  #main-doc {
    height: 100vh;
    padding: 2% 4.5% 0 4.5%;
    overflow-y: scroll;
  }

  .main-section:last-child {
  padding-bottom: 40px;
  }
}