html {
	font-family: 'Ubuntu', sans-serif;
	height: 100vh;
	width: 100%;
}

body {
	margin: 0;
}

#header, #footer {
	background-color: #563c3b;
}

#header {
	position: fixed;
	width: 100%;
	height: 15vmin;
	background-color: #563c3b;
	z-index: 100;
}

@media (min-width: 1200px) {
	#header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

#header, .nav-text {
	border-bottom: 1.2px solid #98706d;
}

#header > [type="checkbox"] {
	display: none;
}

#hamburger-group {
	position: absolute;
	top: 15px;
	left: 8px;
}

@media (min-width: 1200px) {
	#hamburger-group {
		display: none;
	}
}

.hamburger-menu {
  display: block;
  margin: 5px;
  border-radius: 4px;
  background-color: #04c4d4;
  width: 35px;
  height: 5px;
  transition: transform 0.3s ease-out, opacity 0.5s ease-out;
}

#img-container {
	text-align: center;
}

#header-img {
	width: 12vmin;
	height: auto;
	padding-top: 3vmin;
}

@media (min-width: 1200px) {
	#header-img {
		padding-left: 4vw;
	}
}

#nav-bar {
	background-color: #3f2d2c;
	position: relative;
	left: -100%;
	transition: left 0.25s ease-in;
}

@media (min-width: 1200px) {
	#nav-bar {
		position: static;
		background-color: #563c3b;
	}
}

[type="checkbox"]:checked ~ #nav-bar {
  left: 0%;
}

.nav-menu {
	font-size: 1.4em;
	font-weight: bolder;
	margin-top: 1px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

@media (min-width: 1200px) {
	.nav-menu {
		flex-direction: row;
		margin-top: 0;
	}

	.nav-menu li {
		padding: 30px 4vw 0 15px;
	}
}

.nav-link {
	text-decoration: none;
	color: #04c4d4;
	transition: color 500ms linear;
}

.nav-link:hover {
	color: #8ae1ff;
}

.nav-text {
	margin: 0;
	padding: 10%;
}

@media (min-width: 1200px) {
	.nav-text {
		border: none;
		padding: 0;
	}
}

[type="checkbox"]:checked ~ #hamburger-group > .hamburger-menu:nth-child(1) {
  transform: rotate(45deg) translate(2px, 12px);
}

[type="checkbox"]:checked ~ #hamburger-group > .hamburger-menu:nth-child(2) {
  opacity: 0;
}

[type="checkbox"]:checked ~ #hamburger-group > .hamburger-menu:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -12px);
}

#title-img {
	max-width: 100%;
	height: auto;
}

h1 {
	padding: 0 10%;
}

h2 {
	margin-bottom: 5px;
}

.text-content {
	padding: 0vh 8vw 3vh 8vw;
	line-height: 1.5em;
	margin: 0;
}

#main {
	font-size: 1.2em;
	padding-top: 8vmax;
}

#main, #form {
	text-align: center;
	background-color: #001218;
	color: #fff;
}

#demonstration {
	padding-top: 1.5vmax;
	background-color: #009bcf;
	color: #000;
}

@media (min-width: 1200px) {
	#demonstration {
		display: grid;
		grid-template-columns: 50% 50%;
		padding-bottom: 4vh;
	}
}

.product-card {
	background-color: #ccb7b9;
	color: #1c2429;
}

@media (min-width: 1200px) {
	.video-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

#video {
	margin: 0 auto;
	display: block;
	width: 560px;
	max-width: 100%;
	height: 315px;
	border: none;
}

#pricing {
	padding: 30px;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 15px;
}

.product-card {
	width: 100%;
	height: auto;
	transition: transform 0.4s ease-in, box-shadow 0.4s ease-in;
}

.product-card:hover {
	transform: scale(1.05);
	box-shadow: 5px -5px 31px -8px #fff;
}

.product-img {
	display: block;
	width: 100%;
	height: auto;
}

.product-name {
	margin: 8px 0;
}

.product-name, .price {
	font-weight: bolder;
}

.price {
	font-size: 0.85em;
	margin: 8px 0;
}

.order-button, [type="submit"], [type="email"] {
	padding: 10px 10px;
}

.order-button, [type="submit"] {
	background-color: #bcbcbc;
	color: #000;
	font-size: 0.85em;
	border: 2px solid #000;
	border-radius: 4px;
	margin-bottom: 15px;

}

[type="submit"], [type="email"] {
	margin-bottom: 20px;
}

.order-button:hover, [type="submit"]:hover {
	background-color: #001218;
	color: #fff;
	cursor: pointer;
}

.form-txt {
	font-size: 1.2em;
	padding: 20px;
	margin: 0;
}

#footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #563c3b;
	color: #8ae1ff;
	text-align: left;
}

#icon-container {
	text-align: right;
	order: 2;
	padding-right: 10px;
}

.media-icons {
	width: 30px;
	height: auto;
	padding: 10px 5px 5px 5px;
	cursor: pointer;
}

.footer-text {
	font-weight: 700;
	order: 1;
	padding-left: 10px;
}